<h1> {{titre}} </h1>
<div id="Produits">
<div id="titre" style="text-align:center">
   <b>Liste des Produits</b>
</div>
<br/>
<div id="Produit" *ngFor="let item of items">
<HR size=2px>
	<div id="imageProduit" >
		<img [src]="item.url" style="width:304px;height:228px;">		
	</div>
	<div id="caract" (change)="UpdateTotal(Type.value)">
	<p>Nom du produit : {{ item.nom }} </p>
	<p>Type : {{ item.type }}</p>
        <p>Marque : {{ item.marque }}</p>
	<p>Prix : {{ item.price }} euros</p>
	<p>
	Quantitée : {{ item.quantite }} 
	<input  [routerLink]="['/reduireQuant', item.id]" type="button" [name]= "item.id" value="-" class="button" />
        <input [routerLink]="['/augmenterQuant', item.id]" type="button" [name]= "item.id" value="+" class="button" />
	</p>
	<b> Sous-Total : {{ item . price * item.quantite}} euros</b><br/><br/>
	{{ UpdateTotal(item.price,item.quantite)}}
	
        <input [routerLink]="['/retirerPanier', item.id]" type="button" [name]= "item.id" value="Retirer du panier" class="button" />
	</div>
</div>
<HR size=2px>
<h3> TOTAL : {{ total }} euros</h3>
</div>
<router-outlet></router-outlet>

